*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    margin: auto;
    margin-top: 1vw;
    /* background-color: black; */
}
.add_new {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border:  2px solid black;
    padding: 1vw;
    margin-bottom: 3vw;
}
.add_new select, .add_new input,.add_new   button{
    display: block;
    margin-bottom: 1vw;
    width: 100%;
    height: 30px;
}
.add_new input{
    width: 500px;
}
.list{
    border: 2px solid black;
    padding: 2vw;
}
.project_list{
    text-align: center;
}
.list input, .list select{
    width: 200px;
    height: 50px;
    margin: 0 1vw;
}
.project_list{
    margin-bottom: 4vw;
}
.action_list{
    border: 2px solid grey;
    padding: 2vw;
}
.reset{
    background-color: blue;
    margin:3vw 0;
    width:100px;
    height: 40px;;
}
@media(max-width:792px){
    .list, .action_list,.add_new{
        border: none;
    }
}
@media(max-width:400px){
    .add_new input{
        width: 100vw;
    }
    .container{
        margin: 1vw;
        width: 100%;
        overflow: visible;
        margin-left: 10px;
    }
    select, input, button{
        margin: 2vw;
        width: 100%;
    }
}